$radius: 10px;
.cards{
    border: 1px solid #265220;
    border-radius: 10px;
}
.img{
    border-radius: $radius $radius 0 0 ;   
    height: 200px;
}

.badge{
    top: 10px;
    right: 20px;
    font-size: 18px;
  
}
