
.navubar{
    background-image: url(../../../public/images/CercleSportif.png);
    background-size: cover;
    background-repeat: no-repeat;
 }


.LoginOutlinedIcon:hover{
 color:rgb(247, 17, 17) !important;
 transition: 2s;
 
}

