*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body.pic{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0,0,0,0.8)),url(../../../public/images/football.jpg);
    background-position: center;
    block-size: cover;
   margin:-110px 0;
   padding: 100px 0;
 
}
.containerr{
    width: 360px;
    height: 550px;
    margin: 8% auto;
    background: #fff;
    border-radius: 5px;
    position: relative;
    overflow: hidden;

}
.form{
    width: 280px; 
    position: absolute;
    top: 100px; 
    left: 40px;
    transition: 0.3s;
    display: flex;
    flex-direction: column;

}

 .form input{
    width: 100%;
    padding: 10px 5px;
    border: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    display: block;
}
::placeholder{
    color: #777;
}
h3{
    text-align: center;
    margin-bottom: 40px;
    color: #777;
  
    font-weight: bold;
}
.btn-box{
    width: 100%;
    margin: 30px auto;
    text-align: center;
}
.form button{
    width: 110px;
    height: 35px;
    margin: 0 10px;
    background:black;
    border-radius: 30px;
    border: 0;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
}
/* #form2{
    left: 450px;
}
#form3{
    left: 450px;
} */

.step-row{
    width: 360px;
    height: 40px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    box-shadow: 0 -1px 5px -1px #000;
    position: relative;
    background: black;
    color: white;
}
.step-col{
    width: 120px;
    text-align: center;
      color: #fff;
    position: relative;
    font-weight: bold;
   cursor: pointer;
    font-size: 18px;
}
#progress{
    position: absolute;
    height: 100%;
    width: 120px;
    background: linear-gradient(to right, #0c0306,#ffad06);
   
    transition: 1s;
}
#progress::after{
    content: '';
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    right: -20px;
    top: 0;
    border-left: 20px solid #ffad06;
}
.forgotpassword{
    margin-top: 25px;
    font-size: 15px;
}