.input{
    width: 40%;
    border-radius: 8px;
    border: 1px solid #265220;
    padding: 10px 15px;
    box-shadow: 1px 3px 9px rgba($color: #265220, $alpha: 0.3);
    &:focus{
        outline: none;
    }
}
.btn{
    box-shadow: 1px 3px 9px rgba($color: #265220, $alpha: 0.3);

}


@media (max-width: 576px){
    .input{
        width: 80%;
    }
}